---
import { projectPageContentFetcher, projectsIDFetcher } from "@/api";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  return (await projectsIDFetcher()).allProjects.map(({ id }) => {
    return {
      params: { projectId: id },
    };
  });
}

const { projectId } = Astro.params;
const { projectName } = await projectPageContentFetcher(projectId ?? "");
---

<Layout title="" pageDescription="" activeNavigationOption={""}>
  <main
    class="flex flex-col items-center justify-start px-horizontalPaddingMobile lg:px-horizontalPaddingDesktop"
  >
    <header>
      <h1>{projectName}</h1>
    </header>
  </main>
</Layout>
