---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  metaInfo={{
    title: "Address Not Found",
    description: "You're lost in Fatih NRI's page",
    customThumbnail: null,
  }}
  indexedAndFollowed={false}
  activeNavigationOption={""}
>
  <main
    class="flex-grow flex flex-col justify-center items-center w-full px-horizontalPaddingMobile lg:px-horizontalPaddingDesktop"
  >
    <header
      class="flex flex-col justify-center items-center gap-4 text-silver-100"
    >
      <i class="fa-solid fa-question text-7xl animate-bounce"></i>
      <h1 class="text-center font-bold text-5xl lg:text-4xl">
        Uh oh, it seems that you're <span class="animate-lostColorChange"
          >lost!</span
        >
      </h1>
      <p class="text-center font-medium text-xl lg:text-lg">
        Go <a
          href="/"
          class="underline underline-offset-2 decoration-silver-100 decoration-1 hover:font-bold hover:decoration-2"
          >home</a
        > or open the sidebar to return to the <span class="animate-glow-pulse"
          >light</span
        >
      </p>
    </header>
  </main>
</Layout>

<style>
  .glow-text {
    text-shadow: 0 0 7px #fff;
  }
</style>
