<footer class="flex flex-col w-full bg-none items-center justify-center py-2 text-black-100">
    <div class="flex justify-start items-center gap-4">
        <a href="https://github.com/Fatih20" target="_blank" class="hover:text-silver-100 transition-colors"><i class="fa-brands fa-github text-3xl"></i></a>
        <a href="https://www.linkedin.com/in/fatih-nararya-r-i-088a86215/" target="_blank" class="hover:text-silver-100 transition-colors"><i class="fa-brands fa-linkedin text-3xl"></i></a>
    </div>
    <!-- <p class="text-lg">Copyright © 2022 Fatih NRI – All Rights Reserved</p> -->
</footer>