<footer
  class="flex flex-col w-full bg-none items-center justify-center py-2 text-silver-500"
>
  <div class="flex justify-start items-center gap-5 lg:gap-4">
    <a
      href="https://github.com/Fatih20"
      target="_blank"
      aria-label="Github account of Fatih NRI"
      class="hover:text-silver-100 transition-colors"
      ><i class="fa-brands fa-github text-3xl"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/fatih-nararya/"
      target="_blank"
      class="hover:text-silver-100 transition-colors"
      aria-label="LinkedIn account of Fatih NRI"
      ><i class="fa-brands fa-linkedin text-3xl"></i>
    </a>
    <a
      href="https://www.instagram.com/fatih_nararya/"
      target="_blank"
      class="hover:text-silver-100 transition-colors"
      aria-label="Instagram account of Fatih NRI"
      ><i class="fa-brands fa-instagram text-3xl"></i>
    </a>
  </div>
  <!-- <p class="text-lg">Copyright © 2022 Fatih NRI – All Rights Reserved</p> -->
</footer>
