---
import type { HeaderOption } from "@/types/types";

type HeaderProp = {
  activeNavigationOption: HeaderOption;
};

const { activeNavigationOption } = Astro.props as HeaderProp;
---

<nav
  class="h-headerHeight bg-none px-horizontalPaddingMobile lg:px-horizontalPaddingDesktop py-2 box-border fixed top-0 w-full text-xl lg:text-lg font-bold text-silver-500 bg-black-700/80 backdrop-blur-lg flex"
>
  <div class="flex items-center justify-start gap-4 w-full max-w-5xl mx-auto">
    <a
      href="/"
      class={`${
        activeNavigationOption === "home" ? "text-silver-100" : ""
      } hover:text-silver-100 transition-colors`}>Home</a
    >
    <a
      href="/portofolio"
      class={`${
        activeNavigationOption === "portofolio" ? "text-silver-100" : ""
      } hover:text-silver-100 transition-colors`}>Portofolio</a
    >
  </div>
</nav>
