<nav class="h-headerHeight bg-none px-4 py-2 box-border fixed top-0 w-full text-lg font-bold text-black-100 flex items-center justify-start gap-4">
    <a href="/" class="hover:text-silver-100 transition-colors">Home</a>
    <a href="/portofolio" class="hover:text-silver-100 transition-colors">Portofolio</a>
</nav>