---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import type { HeaderOption } from '@/types';

export interface Props {
	title: string;
	activeNavigationOption : HeaderOption
}

const { title, activeNavigationOption } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/112dcdcf9d.js" crossorigin="anonymous"></script>
		<title>{title}</title>
	</head>
	<body class="flex flex-col justify-start items-center pt-headerHeight bg-black-700 min-h-screen">
		<Header  activeNavigationOption={activeNavigationOption}/>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	body *{
		@apply font-inter
	}
</style>
